Repository JinhuW/FileCataloger: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, bash -c 'yarn typecheck'

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "bash -c 'yarn typecheck'"
  ],
  "src/**/*.{js,jsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "src/**/*.{json,css,scss,md}": [
    "prettier --write"
  ],
  "package.json": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ]
}

fix: resolve shelf creation failure on subsequent drag+shake attempts
  src/main/modules/core/drag_drop_coordinator.ts
Due: prettier --write, eslint --fix, bash -c 'yarn typecheck'

fix: resolve missing file paths and UI ghosting issues
  src/main/index.ts
  src/renderer/features/fileRename/FileRenameShelf/FileRenameShelf.tsx
  src/renderer/utils/fileProcessing.ts
Due: prettier --write, eslint --fix, bash -c 'yarn typecheck'

feat: implement seamless window resizing with perfect UI synchronization
  src/main/index.ts
  src/main/modules/window/advanced_window_pool.ts
  src/main/modules/window/shelf_manager.ts
  src/preload/index.ts
  src/renderer/components/layout/ResizableShelfContainer/ResizableShelfContainer.tsx
  src/renderer/components/layout/ResizableShelfContainer/index.ts
  src/renderer/features/fileRename/FileRenameShelf/FileRenameShelf.tsx
  src/renderer/hooks/useWindowSize.ts
  src/renderer/pages/shelf/ShelfPage.tsx
  src/shared/constants.ts
  src/shared/types.ts
Due: prettier --write, eslint --fix, bash -c 'yarn typecheck'

fix: enable scrolling in Recent Components grid when content overflows
  src/renderer/features/fileRename/RenamePatternBuilder/RecentComponentsList.tsx
Due: prettier --write, eslint --fix, bash -c 'yarn typecheck'

fix: resolve infinite render loop and file drop issues
  src/renderer/features/fileRename/RenamePatternBuilder/ComponentTypeDropdown.tsx
  src/renderer/hooks/useComponentLibrary.ts
Due: prettier --write, eslint --fix, bash -c 'yarn typecheck'

feat: enhance file rename UI with custom patterns and emoji picker
  .nvmrc
  package.json
  src/renderer/components/domain/EmptyState/EmptyState.tsx
  src/renderer/components/primitives/EmojiIconPicker/EmojiIconPicker.tsx
  src/renderer/components/primitives/EmojiIconPicker/index.ts
  src/renderer/components/primitives/index.ts
  src/renderer/constants/componentTypes.ts
  src/renderer/features/fileRename/FileRenameShelf/FileRenameShelf.tsx
  src/renderer/features/fileRename/RenamePatternBuilder/ComponentEditDialog.tsx
  src/renderer/features/fileRename/RenamePatternBuilder/RecentComponentsList.tsx
  src/renderer/features/fileRename/RenamePatternBuilder/RenamePatternBuilderV2.tsx
  src/renderer/styles/globals.css
  src/renderer/utils/renameUtils.ts
  yarn.lock
Due: prettier --write, eslint --fix, bash -c 'yarn typecheck'

feat: implement custom tooltip system with smart positioning
  src/renderer/components/domain/ShelfItemComponent/ShelfItemComponent.tsx
  src/renderer/components/primitives/CustomTooltip/CustomTooltip.tsx
  src/renderer/components/primitives/CustomTooltip/index.ts
  src/renderer/components/primitives/index.ts
  src/renderer/constants/shelf.ts
  src/renderer/features/fileRename/RenamePatternBuilder/RecentComponentsList.tsx
  src/renderer/hooks/useTooltip.ts
  src/renderer/utils/tooltipUtils.ts
  src/shared/types/ui.ts
Due: prettier --write, eslint --fix, bash -c 'yarn typecheck'

fix: correct tooltip positioning with display contents wrapper
  src/renderer/hooks/useTooltip.ts
Due: prettier --write, eslint --fix, bash -c 'yarn typecheck'

fix: correct dropdown menu positioning for component selectors
  src/renderer/features/fileRename/RenamePatternBuilder/ComponentChipV2.tsx
  src/renderer/features/fileRename/RenamePatternBuilder/ComponentTypeDropdown.tsx
  src/renderer/features/fileRename/RenamePatternBuilder/InlineSelectEditor.tsx
  src/renderer/features/fileRename/RenamePatternBuilder/RenamePatternBuilderV2.tsx
Due: prettier --write, eslint --fix, bash -c 'yarn typecheck'

feat: enhance component library with unlimited display and limit validation
  src/renderer/components/demo/PatternBuilderDemo.tsx
  src/renderer/features/fileRename/RenamePatternBuilder/ComponentChip.tsx
  src/renderer/features/fileRename/RenamePatternBuilder/ComponentChipV2.tsx
  src/renderer/features/fileRename/RenamePatternBuilder/ComponentTypeDropdown.tsx
  src/renderer/features/fileRename/RenamePatternBuilder/MetadataComponentsGrid.tsx
  src/renderer/features/fileRename/RenamePatternBuilder/RenamePatternBuilder.tsx
  src/renderer/features/fileRename/RenamePatternBuilder/RenamePatternBuilderV2.tsx
  src/renderer/features/fileRename/RenamePatternBuilder/index.ts
Due: prettier --write, eslint --fix, bash -c 'yarn typecheck'

refactor: reorganize docs and add utility improvements
  AI_COMPONENT_TODO.md
  CODE_REVIEW_OPTIMIZATIONS.md
  TODO.md
  docs/DEBUG_LOG/2025-10-23_FILE_DROP_DELAY_ISSUE.md
  docs/DEBUG_LOG/BEST_PRACTICES_ASSESSMENT.md
  docs/DEBUG_LOG/CODEBASE_ANALYSIS.md
  docs/DEBUG_LOG/EXECUTIVE_SUMMARY.md
  docs/DEBUG_LOG/OPTIMIZATION_PLAN.md
  docs/DEBUG_LOG/WORKFLOW_DIAGRAM.md
  docs/PHASE_5_6_SIMPLIFIED_UI.md
  docs/TEST_COMPONENT_LIBRARY.md
  docs/UTILITY_APPLICATION_SUMMARY.md
  src/renderer/api/patterns.ts
  src/renderer/components/demo/PatternBuilderDemo.tsx
  src/renderer/components/domain/FeatureErrorBoundary/FeatureErrorBoundary.tsx
  src/renderer/components/domain/FeatureErrorBoundary/index.ts
  src/renderer/components/domain/FileDropZone/FileDropZone.tsx
  src/renderer/features/fileRename/ComponentLibrary/ComponentCard.tsx
  src/renderer/features/fileRename/FileRenameShelf/FileRenameShelf.tsx
  src/renderer/features/fileRename/RenamePatternBuilder/InlineSelectEditor.tsx
  src/renderer/features/fileRename/RenamePatternBuilder/MetadataComponentsGrid.tsx
  src/renderer/features/fileRename/RenamePatternBuilder/RenamePatternBuilder.tsx
  src/renderer/hooks/useComponentInstances.ts
  src/renderer/hooks/usePatternOperations.ts
  src/renderer/pages/shelf/ShelfPage.tsx
  src/renderer/stores/componentLibraryStore.ts
  src/renderer/stores/patternStore.ts
  src/renderer/stores/shelfStore.ts
  src/renderer/stores/toastStore.ts
  src/renderer/utils/devLogger.ts
  src/renderer/utils/duplicateDetection.ts
  src/renderer/utils/fileProcessing.ts
  src/renderer/utils/idGenerator.ts
  src/renderer/utils/safeStorage.ts
Due: prettier --write, eslint --fix, bash -c 'yarn typecheck'

feat: add real-time preview updates to file rename pattern builder
  src/renderer/features/fileRename/FileRenameShelf/FileRenameShelf.tsx
  src/renderer/features/fileRename/RenamePatternBuilder/RenamePatternBuilder.tsx
Due: prettier --write, eslint --fix, bash -c 'yarn typecheck'

feat: add drag-to-reorder functionality for pattern components
  src/renderer/features/fileRename/RenamePatternBuilder/ComponentChip.tsx
  src/renderer/features/fileRename/RenamePatternBuilder/MetadataComponentsGrid.tsx
  src/renderer/features/fileRename/RenamePatternBuilder/RenamePatternBuilder.tsx
Due: prettier --write, eslint --fix, bash -c 'yarn typecheck'

feat: add file metadata component type for rename pattern builder
  src/renderer/constants/componentTypes.ts
  src/renderer/features/fileRename/RenamePatternBuilder/ComponentChip.tsx
  src/renderer/features/fileRename/RenamePatternBuilder/InlineFileMetadataEditor.tsx
  src/renderer/features/fileRename/RenamePatternBuilder/MetadataComponentsGrid.tsx
  src/renderer/features/fileRename/RenamePatternBuilder/RenamePatternBuilder.tsx
  src/renderer/hooks/useComponentLibrary.ts
  src/renderer/stores/componentLibraryStore.ts
  src/renderer/utils/componentValueResolver.ts
  src/shared/types.ts
  src/shared/types/componentDefinition.ts
Due: prettier --write, eslint --fix, bash -c 'yarn typecheck'

fix: prevent race condition in native file path retrieval
  AI_RENAMING_MODULE_IMPLEMENTATION.md
  src/main/index.ts
  src/main/modules/core/drag_drop_coordinator.ts
  src/native/drag-monitor/src/native/mac/drag_monitor_mac.mm
Due: prettier --write, eslint --fix, bash -c 'yarn typecheck'

fix: resolve file metadata component bugs and extension handling
  src/main/index.ts
  src/main/ipc/file_metadata_handlers.ts
  src/preload/index.ts
  src/renderer/constants/componentTypes.ts
  src/renderer/utils/componentValueResolver.ts
  src/renderer/utils/fileProcessing.ts
  src/renderer/utils/renameUtils.ts
  src/shared/types.ts
  src/shared/types/componentDefinition.ts
Due: prettier --write, eslint --fix, bash -c 'yarn typecheck'

feat: add tree view for file rename preview with toggle
  DEBUG_NOTES.md
  src/main/index.ts
  src/main/ipc/pattern_handlers.ts
  src/renderer/features/fileRename/ComponentLibrary/TemplatePackSection.tsx
  src/renderer/features/fileRename/FileRenamePreviewList/FileRenamePreviewList.tsx
  src/renderer/features/fileRename/FileRenamePreviewList/ViewToggle.tsx
  src/renderer/features/fileRename/FileRenameShelf/FileRenameShelf.tsx
  src/renderer/features/fileRename/FileRenameTreeView/FileRenameTreeView.tsx
  src/renderer/features/fileRename/FileRenameTreeView/TreeNode.tsx
  src/renderer/features/fileRename/FileRenameTreeView/index.ts
  src/renderer/hooks/useComponentTemplates.ts
  src/renderer/utils/fileTreeUtils.ts
Due: prettier --write, eslint --fix, bash -c 'yarn typecheck'

fix: resolve infinite loop in RenamePatternBuilder useEffect dependencies
  DEBUG_NOTES.md
  src/renderer/features/fileRename/RenamePatternBuilder/RenamePatternBuilder.tsx
Due: prettier --write, eslint --fix, bash -c 'yarn typecheck'

fix: remove built-in pattern functionality
  docs/AI_COMPONENT_TODO.md
  docs/AI_RENAMING_MODULE_IMPLEMENTATION.md
  docs/ARCHITECTURE_DIAGRAMS.md
  docs/CODE_REVIEW_OPTIMIZATIONS.md
  docs/DEBUG_NOTES.md
  docs/DEMO_READY.md
  docs/IMPLEMENTATION_PLAN_META_COMPONENTS.md
  docs/OPTIMIZATION_PLAN.md
  docs/WINDOW_SETTINGS_QUICK_REFERENCE.md
  src/main/modules/storage/pattern_persistence_manager.ts
  src/renderer/api/patterns.ts
  src/renderer/features/fileRename/RenamePatternBuilder/RenamePatternBuilder.tsx
  src/renderer/hooks/usePatternManager.ts
  src/renderer/stores/patternStore.ts
  src/shared/types.ts
Due: prettier --write, eslint --fix, bash -c 'yarn typecheck'

fix: save renamed files to target folder instead of original location
  src/renderer/features/fileRename/FileRenameShelf/FileRenameShelf.tsx
  src/renderer/utils/renameUtils.ts
Due: prettier --write, eslint --fix, bash -c 'yarn typecheck'

feat: add Windows platform support for native modules
  config/webpack/webpack.main.js
  forge.config.js
  package.json
  scripts/build-native-platform.js
  scripts/install-native.js
  scripts/native/native-config.ts
  src/main/modules/input/dragShakeDetector.ts
  src/native/drag-monitor/index.ts
  src/native/drag-monitor/win32/binding.gyp
  src/native/drag-monitor/win32/drag_monitor_win32.cpp
  src/native/drag-monitor/windowsDragMonitor.ts
  src/native/mouse-tracker/index.ts
  src/native/mouse-tracker/win32/binding.gyp
  src/native/mouse-tracker/win32/mouse_tracker_win32.cpp
  src/native/mouse-tracker/windowsMouseTracker.ts
Due: prettier --write, eslint --fix, bash -c 'yarn typecheck'

feat: add macOS ARM64, Intel x64, and universal build support
  forge.config.js
  package.json
Due: prettier --write

feat: add GitHub Actions workflows for cross-platform releases
  .github/PULL_REQUEST_TEMPLATE.md
  .github/WORKFLOWS.md
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier --write

feat: enable workflow testing on feature branches
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: none

fix: add missing vitest test setup file
  src/renderer/tests/setup.ts
Due: prettier --write, eslint --fix, bash -c 'yarn typecheck'

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

ci: add comprehensive GitHub Actions workflows for automated builds and releases
  .github/README.md
  .github/SETUP_SECRETS.md
  .github/workflows/dependency-update.yml
  .github/workflows/develop-ci.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .github/workflows/version-bump.yml
  .release-please-manifest.json
  release-please-config.json
Due: prettier --write

fix: replace SSH URLs with HTTPS in yarn.lock for CI compatibility
  yarn.lock
Due: none

fix: update GitHub Actions to use Node.js 22
  .github/workflows/dependency-update.yml
  .github/workflows/develop-ci.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .github/workflows/version-bump.yml
Due: none

fix: skip native module build on non-macOS platforms in CI
  .github/workflows/develop-ci.yml
Due: none

fix: resolve CI issues - fix React hooks and skip tests
  .github/workflows/develop-ci.yml
  .github/workflows/release.yml
  src/renderer/hooks/useAccessibility.ts
Due: prettier --write, eslint --fix, bash -c 'yarn typecheck'

fix: format code to pass CI checks
  src/renderer/utils/fileValidation.tsx
Due: prettier --write, eslint --fix, bash -c 'yarn typecheck'

fix: disable artifact upload step to fix CI pipeline
  .github/workflows/develop-ci.yml
Due: none

ci: update workflow to build and publish DMG files only for macOS
  .github/workflows/develop-ci.yml
Due: none

fix: rebuild native modules for DMG creation to fix arm64 builds
  .github/workflows/develop-ci.yml
Due: none

ci: consolidate and improve GitHub Actions workflows
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/dependency-update.yml
  .github/workflows/develop-ci.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .github/workflows/version-bump.yml
Due: prettier --write

fix: resolve GitHub Actions build failures across all platforms
  .github/workflows/release.yml
  scripts/install-native.js
Due: none
