Repository JinhuW/FileCataloger: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, bash -c 'yarn typecheck'

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "bash -c 'yarn typecheck'"
  ],
  "src/**/*.{js,jsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "src/**/*.{json,css,scss,md}": [
    "prettier --write"
  ],
  "package.json": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ]
}

fix: correct native module build paths and Windows toolchain setup
  .github/workflows/release.yml
  scripts/install-native.js
Due: none

fix: resolve all platform build failures in GitHub Actions
  .github/workflows/develop-ci.yml
  .github/workflows/release.yml
  forge.config.js
  package.json
Due: prettier --write

fix: add missing metadata for Windows and Linux builds
  forge.config.js
  package.json
Due: prettier --write

fix: correct bash syntax in release asset preparation script
  .github/workflows/release.yml
Due: none

fix: correct artifact path in release asset preparation
  .github/workflows/release.yml
Due: none

feat: add Windows native module support for mouse tracking and drag monitoring
  .github/workflows/release.yml
  config/webpack/webpack.main.js
  scripts/install-native.js
  src/main/modules/input/drag_shake_detector.ts
  src/native/CLAUDE.md
  src/native/drag-monitor/binding.gyp
  src/native/drag-monitor/index.ts
  src/native/drag-monitor/src/dragMonitorWin.ts
  src/native/drag-monitor/src/index.ts
  src/native/drag-monitor/src/native/win/drag_monitor_win.cc
  src/native/mouse-tracker/binding.gyp
  src/native/mouse-tracker/index.ts
  src/native/mouse-tracker/src/index.ts
  src/native/mouse-tracker/src/mouseTrackerWin.ts
  src/native/mouse-tracker/src/native/win/mouse_tracker_win.cc
Due: prettier --write, eslint --fix, bash -c 'yarn typecheck'

fix: resolve Windows C++ compilation errors in mouse tracker
  OPTIMIZATION_PLAN.md
  src/native/mouse-tracker/src/native/win/mouse_tracker_win.cc
Due: prettier --write

fix: prevent platform-specific modules from loading on wrong platform
  src/main/modules/utils/performance_monitor.ts
  src/main/modules/utils/performance_monitor.ts.bak
  src/native/drag-monitor/index.ts
  src/native/mouse-tracker/index.ts
  src/renderer/api/patterns.ts
  src/renderer/components/domain/ErrorBoundary/ErrorBoundary.tsx
  src/renderer/features/fileRename/ComponentLibrary/TemplatePackSection.tsx
  src/renderer/features/fileRename/FileRenamePreviewList/FileRenamePreviewList.tsx
  src/renderer/hooks/useShelfItems.ts
Due: prettier --write, eslint --fix, bash -c 'yarn typecheck'

feat: add Apple code signing and notarization for distribution
  .env.example
  .github/workflows/release.yml
  entitlements.mac.plist
  forge.config.js
  package.json
  src/renderer/constants/componentDefaults.ts
  src/renderer/constants/componentMetadata.ts
  src/renderer/constants/componentTemplates.ts
  src/renderer/constants/componentTypes.ts
  src/renderer/constants/componentValidation.ts
  src/renderer/constants/templates/businessPack.ts
  src/renderer/constants/templates/commonPack.ts
  src/renderer/constants/templates/creativePack.ts
  src/renderer/constants/templates/developmentPack.ts
  src/renderer/constants/templates/index.ts
  src/renderer/constants/templates/templateTypes.ts
  src/renderer/features/fileRename/RenamePatternBuilder/PatternActionFooter.tsx
  src/renderer/features/fileRename/RenamePatternBuilder/PatternBuilderCanvas.tsx
  src/renderer/features/fileRename/RenamePatternBuilder/PatternDialogs.tsx
  src/renderer/features/fileRename/RenamePatternBuilder/PatternTabSection.tsx
  src/renderer/features/fileRename/RenamePatternBuilder/RenamePatternBuilder.tsx
  src/renderer/features/fileRename/RenamePatternBuilder/index.ts
  src/renderer/features/fileRename/RenamePatternBuilder/usePatternBuilder.ts
  src/renderer/hooks/useShelfConfig.ts
  yarn.lock
Due: prettier --write, eslint --fix, bash -c 'yarn typecheck'

fix: improve macOS code signing in GitHub Actions
  .github/workflows/release.yml
Due: none

fix: make code signing identity configurable for CI
  .github/workflows/release.yml
  forge.config.js
Due: none

fix: quote YAML values containing colons
  .github/workflows/release.yml
Due: none

fix: add certificate validation and diagnostics for CI signing
  .github/workflows/release.yml
  forge.config.js
Due: none

fix: disable code signing when certificate is invalid in CI
  .github/workflows/release.yml
Due: none

fix: fix YAML syntax error in workflow env section
  .github/workflows/release.yml
Due: none

fix: fix release notes generation to properly expand shell commands
  .github/workflows/release.yml
Due: none

chore: remove zip files from release artifacts
  .github/workflows/release.yml
Due: none

feat: add cross-platform Windows support for native modules
  .github/workflows/release.yml
  forge.config.js
  package.json
  scripts/build-native.js
Due: prettier --write

chore: remove release-please-config.json
  release-please-config.json
  src/native/CLAUDE.md
Due: prettier --write

feat: enable automatic releases on main branch pushes
  .github/workflows/release.yml
Due: none

chore: clean up Husky hooks and consolidate TypeScript configs
  .github/workflows/dependency-update.yml
  .husky/pre-commit
  .husky/pre-push
  .husky/pre-stage
  DEBUG_NOTES.md
  assets/icon.icns
  assets/icon.png
  config/tsconfig.base.json
  config/webpack/cryptoShim.js
  config/webpack/webpack.renderer.js
  docs/CLEANUP_REPORT.md
  forge.config.js
  package.json
  scripts/fix-icon-padding.py
  src/main/index.ts
  src/main/ipc/file_metadata_handlers.ts
  src/main/ipc/pattern_handlers.ts
  src/main/modules/core/auto_hide_manager.ts
  src/main/modules/input/drag_shake_detector.ts
  src/main/tsconfig.json
  src/native/drag-monitor/src/dragMonitor.ts
  src/native/drag-monitor/src/dragMonitorWin.ts
  src/native/mouse-tracker/src/mouseTracker.ts
  src/native/mouse-tracker/src/mouseTrackerWin.ts
  src/preload/index.ts
  src/renderer/components/primitives/Tooltip/Tooltip.tsx
  src/renderer/components/primitives/Tooltip/index.tsx
  src/renderer/components/primitives/index.ts
  src/renderer/hooks/useComponentInstances.ts
  src/renderer/hooks/useFileRename.ts
  src/renderer/hooks/useShelfConfig.ts
  src/renderer/hooks/useShelfItems.ts
  src/renderer/pages/shelf/shelf.html
  src/renderer/services/componentService.ts
  src/renderer/stores/componentLibraryStore.ts
  src/renderer/tsconfig.json
  src/renderer/utils/tooltipUtils.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix, bash -c 'yarn typecheck'
